
  <div class="body-quizz">
  
  <div id="quiz">
    <h1>Quiz</h1>
    <hr />

    <!-- Aquí se van agregando dinamicamente las preguntas -->
    <h2 id="question"></h2>


    <!-- En este div se van agregando dinamicamente las alternativas -->
    <div id="choices"></div>
    <hr />

    <footer>
      <!-- Va a mostrar en qué pregunta estoy y cuántas preguntas hay -->
      <p id="progress"></p>
    </footer>
  </div>
</div>

    <!-- <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/sweetAlert.js"></script>
    <script>
      Swal.fire({
      title: 'Error!',
      text: 'Do you want to continue',
      icon: 'error',
      confirmButtonText: 'Cool'
    })</script>
<script src="sweetalert2.all.min.js"></script> -->
<script src="app/javascript/plugins/main.js"></script>
<div class="btn"><%= link_to "Volver al modulo",section_path(@section)  %></div>
