<div class="banner">
  <div class="container">
    <h1>BeyondSchool <strong>el conocimiento</strong> y <strong>las habilidades</strong> que necesitas!</h1>
    <p>Unete a nosotros, que aun hay mucho que aprender y descubrir.</p>
    <a class="btn btn-outline-secondary" href="#">Descrubrelo ahora</a>
  </div>
</div>
