<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="video-clase">
        <div class="ratio ratio-21x9">
          <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<%# Hacer la configuracion de cloudinary para video %>
  <%# <%=@section.url_cloudinary.key %>

    <div class="container">
      <div class="row pt-5">
        <div class="col-2">
        </div>
        <div class="col-4">
          <p>Sabias qué?</p>
          <%= @section.descripcion %>
        </div>
        <div class="col-4">
          <div class="text-center">
            <div>
              <%= link_to "Empezar quiz" , quiz_path(@quiz) , class: "btn btn-primary"%>
            </div>
          </div>
        </div>
        <div class="col-2">
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>