<div class="banner" style="background-image: url('assets/background.png')">
  <div class="container_uno">
    <h1>Aprende de todo</h1>
    <p>Lo que no se enseña en el colegio y más</p>
    <a href="#" class="btn-banner"> <%= link_to "Registarme" , new_user_session_path,class: 'btn btn-secondary' %></a>
  </div>
</div>