<div class="container">
<h1> Mis Cursos </h1>
  <% @courses.each do |course| %>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card-product mb-5">
        <div class="foto">
          <img src="https://www.clinicasabortos.com/images/blog/1600940676023-educacion-sexual.jpg" />
        </div>
        <div class="card-product-infos p-5">
          <div class="card-superior">
            <h2><%= course.titulo %></h2>
            <p> <strong>Duracion del curso</strong><%=course.duracion %> hs</p>
          </div>
          <div class="card-inferior">
            <p><%=course.detalle.truncate(150) %></p>
          </div>
          <div class="boton-card text-center">
            <div>
            <%=link_to "Ir a clase", course_path(course), class:"btn btn-dark pt-2 mt-3" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
