
.card1 {

}
.carta {
  width: 300px;
  height: 450px;
  border: 0  0 solid;
  box-shadow: 0px 3px 10px rgb(68, 59, 59);
  border-radius: 3px;
  margin: 10px;
  position: relative;
  padding: 0;
  transition: transform 1.5s;
}

.carta:hover{
  // transform: translateZ(5px)
  // rotateX(20deg) rotateY(30deg);
  transform: scale(1.02);
}

.carta img {
  width: 300px;
  height: 250px;
  background-color: white;
}
.carta h2 {
  padding: 0 10px;
}

.carta p {
  padding: 15px;
  position: absolute;
  bottom: 20px;

}

.calle a {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 120px;
  border: 2px solid;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.calle a:hover {
  background-color: #0DA9DD;
  color: white;
  transition: 0.3;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 30px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner {
  background-image: url('backgroundblack.png');
}
.gol {
  font-size: 20px;
}

#feedback-form {
  width: 450px;
  margin: 0 auto;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
  padding: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#feedback-form * {
    box-sizing: border-box;
}

#feedback-form h2{
  text-align: center;
  margin-bottom: 30px;
}

#feedback-form input {
  margin-bottom: 15px;
}

#feedback-form input[type=text] {
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
}

#feedback-form label {
  color: #777;
  font-size: 0.8em;
}



#feedback-form input[type=submit] {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #eee;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;

  background: #207cca; /* Old browsers */
  background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
}
